@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,html{
  background: #def2f1;
  height:100%;
  font-family: 'NanumSquareRound';
  font-size:15px;
  text-align: center;
  color: #fff;
  display:flex;
  align-items:center;
  justify-content:center
}

.box {
  background: #e67e22;
  position: relative;
  margin: 0 auto;
  padding: 0;
  min-width: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
#status{
  padding:10px 15px;
  line-height:25px;
}